:root {
	--darkslate: hsl(220, 25%, 6%);
	--form-color: hsl(220, 25%, 11%);
}

a {
	color: hsl(225, 100%, 40%);
}

.btn-black, #toolbar-main, .modal-floating .modal-body>.nav-tabs {
	background-color: var(--darkslate);
}

.bg-black, .form-control, .modal-body, .nav-tabs a.nav-link {
	background-color: black;
	text-shadow: none;
}

input[type="color"], .input-group-text {
	background-color: var(--form-color);
}

input[type="color"], .form-control, .input-group-text {
	border-color: var(--form-color);
	border-style: groove;
}

.btn-form, .form-control, .input-group-text, .modal-body, .nav-tabs a.nav-link{
	color: #eee;
}

.btn-form:hover {
	color: white;
}

.card-body {
	background-color: black;
}

.form-control-range {
	background-color: transparent;
}

.form-control-range::-webkit-slider-runnable-track {
  background-color: var(--form-color);
  height: 9px;
  border-radius: 4px;
}

.form-control-range::-moz-range-track {
  background-color: var(--form-color);
  height: 9px;
  border-radius: 4px;
}

.form-control-range::-webkit-slider-thumb {
  margin-top: -3px;
}

.input-group-append .input-group-text {
	border-bottom-style: solid;
	border-right-style: solid;
}

.modal-title {
	color: #c3c3c3;
}

.modal-content {
	background-color: hsl(210, 50%, 15%, 0.8);
	border-color: hsl(0, 0%, 9%, 0.8);
}

.modal-header {
	background-color: hsl(210, 50%, 15%, 0.75);
}

.modal-header .close {
	background-color: hsl(354, 70%, 37%);
}

.modal-body {
	border-width: 0;
}

.nav-tabs {
	background-color: transparent;
}

.nav-tabs a.nav-link {
	border-color: #666;
}

.nav-tabs .nav-link:hover {
	background-color: hsl(210, 50%, 50%);
	color: unset;
}

.nav-tabs .nav-link.active {
	background-color: hsl(210, 50%, 30%);
	border-color: #999;
}

.nav-tabs .nav-link.active:hover {
	background-color: hsl(210, 50%, 50%);
	border-color: #ddd;
}

#rotation-sizing-row .form-check {
	background-color: #777777;
}
