:root {
	--primary: hsl(225, 61%, 38%);
	--success: hsl(134, 61%, 33%);
	--form-color: #e9ecef;
}

a {
	color: hsl(225, 100%, 27%);
	font-family: America, sans-serif;
}

a:hover, .nav-tabs .nav-link:hover {
	color: hsl(225, 100%, 50%);
	text-decoration: none;
	text-shadow: 0 0 15px #00000066;
}

.alert {
	margin-bottom: 0;
}

button[disabled], input[type=color][disabled], span.btn:hover:not(:disabled) {
	cursor: auto;
}

button[disabled] img {
	filter: grayscale(1);
}

input[type=color] {
	cursor: pointer;
}

h5, h6 {
	font-weight: normal;
}

option:disabled {
	color: #bbb;
}

th.col-form-label {
	font-weight: normal;
}

.btn {
	padding-top: 7px;
	padding-bottom: 7px;
}

.btn-primary, .btn-primary:disabled {
	background-color: var(--primary);
	border-color: var(--primary);
}

.btn-primary:hover:not(:disabled) {
	background-color: hsl(225, 61%, 43%);
	border-color: hsl(225, 61%, 40%);
}

.btn-success, .btn-success:disabled {
	background-color: var(--success);
	border-color: var(--success);
}

.btn-success:hover:not(:disabled) {
	background-color: hsl(134, 61%, 37%);
	border-color: hsl(134, 61%, 35%);
}

.btn-form, .bg-form {
	background-color: var(--form-color);
}

.dropdown-menu-abs-right {
	margin-top: 0;
	padding-bottom: 0.25rem;
	transition: transform 0.1s;
}

.dropdown-menu.bg-light .dropdown-item:focus, .dropdown-menu.bg-light .dropdown-item:hover {
	background-color: #e9ecef;
}


.fade2:not(.show) {
	opacity: 0;
}
.fade2 {
	transition: opacity .08s linear;
}
.fade:not(.show), .fade2:not(.show) {
	pointer-events: none;
}

@media (prefers-reduced-motion: reduce) {
	.fade2 {
		transition-duration: 0s;
	}
}

.form-control {
	border-style: inset;
	border-width: 2px;
}

.form-check-input {
	margin-top: 0.4rem;
}

.input-group-sm>.form-control:not(textarea) {
  height: calc(1.5em + .5rem + 4px);
}

.input-group-text {
	border-width: 2px;
}

.modal-backdrop.show {
	opacity: 0.45;
}

.modal {
	border-radius: 0.5rem;
	box-shadow: #000000cc 0px 1px 4px 0px;
}

.modal-floating {
	height: -moz-fit-content;
	height: fit-content;
	z-index: 0;
}

.modal-floating-foreground {
	z-index: 1;
}

.modal-floating .modal-header {
	touch-action: none;
	user-select: none;
}

.modal-content {
	background-color: hsla(210, 50%, 85%, 0.8);
	backdrop-filter: blur(4px);
	border-color: #e8e8e8cc;
	border-radius: 0.5rem;
	color: black;
	max-height: calc(100vh - 1.75rem - 48px);
}

.modal-floating .modal-content {
	max-height: 50vh;
}

.modal-header {
	border-bottom-width: 0;
	padding: 0.35rem 3px 0.35rem 0.7rem;
}

.modal-title {
	margin-right: auto;
}

.modal-header .window-gadget {
	border: 0.5px solid #cccccc;
	border-radius: 0 0 0.3rem 0.3rem;
	color: white;
	opacity: 0.45;
	padding: 0;
	margin-left: 4px;
	margin-right: 0;
	margin-top: -0.35rem;
	width: 39px;
	height: 29px;
}

.window-gadget:last-child {
	margin-right: 0.5rem;
}

.window-gadget:hover {
	opacity: 0.75;
}

.collapse-gadget {
	background-color: #dcb038;
}

.window-gadget.close {
	background-color: var(--danger);
}

.close>* {
	vertical-align: text-top;
}

.modal-body {
	background-color: hsl(210, 100%, 99%);
	border: 1px inset;
	border-radius: 0.25rem;
	overflow-y: auto;
	margin: 0rem;
	padding: 0.8rem 0.5rem 0.5rem;
}

.modal-floating .modal-body {
	padding-top: 0.5rem;
}

.modal-body.collapsing {
	overflow-y: hidden;
}

.form-row>[class*=col-].second-col {
	padding-left: 0.5rem;
}

@media (min-width: 576px) {
	.modal-floating {
		width: min(50vw, 506px);
	}

	.modal-floating .modal-content {
		height: 100vh;
		max-height: unset;
	}

	.modal-floating .modal-dialog {
		max-width: 100%;
	}
}

@media (min-width: 768px) and (min-height: 576px) {
	.modal {
 		box-shadow: #000000cc 0px 6px 20px 0px;
 	}

	.modal-floating .modal-content {
		height: unset;
		max-height: 100vh;
	}

	.modal-body {
		margin: 1px 0.65rem 0.65rem;
	}
}

@media (min-width: 1024px) {
	.modal-floating .modal-content {
		max-height: calc(100vh - 48px);
	}

	.form-row>[class*=col-].second-col {
		padding-left: 1.25rem;
	}
}

.modal-floating .modal-body>.nav-tabs {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	padding-left: 1px;
}

.modal-footer .btn {
	box-shadow: 2px 2px 9px 0px #000000bb;
}

.popover {
	border-radius: 0.75rem;
	box-shadow: 2px 2px 15px 6px rgba(0,0,0,0.65);
	max-height: 100vh;
}

.popover-body {
	max-height: 100vh;
	overflow-y: auto;
}

.popover-body h1 {
	font-size: 1rem;
}

.progress-bar {
	overflow: visible;
}

.progress-bar-animated {
	animation-duration: 0.7s;
}

.bg-center {
	background-repeat: no-repeat;
	background-position: center center;
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
	width: -moz-fit-content;
	width: fit-content;
}

.bg-black {
	background-color: #282828;
	color: white;
}

.bg-black .form-control {
	background-color: transparent;
	color: white;
}

.btn-black {
	background-color: #000000d0;
	border-radius: 0;
	color: white;
}

button.btn-black:hover {
	background-color: white;
	color: black;
}

.btn-group>.btn-black.dropdown-toggle-split {
	margin-left: 0;
}

.btn-black.dropdown-toggle {
	color: white;
}

.btn-black.dropdown-toggle-split[aria-expanded=true] {
	background-color: #ffff80;
	color: black;
}

.btn-black.dropdown-toggle[aria-expanded=false]:hover {
	color: black;
}

.nav-tabs {
	background-color: hsl(270, 17%, 97%);
	border-bottom-width: 0;
	padding-top: 0.25rem;
	user-select: none;
}

.nav-tabs .nav-item {
	margin-left: 1px;
}

.nav-tabs a.nav-link {
	background-color: hsl(270, 17%, 97%);
    border-color: #ddd;
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.4);
	color: var(--dark);
	margin: 1px;
	padding: 0.45rem 1rem;
}

.nav-tabs .nav-link:hover {
	background-color: #fdfdfd;
	border-color: #ddd;
}

.nav-tabs .nav-link.active:hover {
	background-color: #fff;
	border-bottom-color: transparent;
}

.nav-tabs .nav-link:focus {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	outline: none;
}

.nav-tabs .nav-link.active {
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.5);
	color: black;
	font-weight: 600;
}

.nav-link.active {
	cursor: default;
}

.top-2 {
	top: 0.5em;
}

.w-60 {
	width: 60% !important;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.max-w-fit {
	max-width: -moz-fit-content;
	max-width: fit-content;
}

.w-fit {
	min-width: -moz-fit-content;
	max-width: -moz-fit-content;
	min-width: fit-content;
	max-width: fit-content;
}

.cursor-progress * {
	cursor: progress !important;
}

.cursor-help * {
	cursor: help !important;
}

.palette {
	background-color: #c0c0c0;
	display: flex;
	flex-wrap: wrap;
	padding: 3px 3px 3px 6px;
}

.palette>div {
	background-image: url("../img/checkerboard.png");
	flex-grow: 1;
	width: 15px;
	height: 15px;
	margin: 2px 3px 2px 0;
	padding: 0;
}

.palette .btn {
	border-radius: 0px !important;
	border-width: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.palette .active {
	outline: solid 2px white;
}

.sketch-title {
	font-style: italic;
	font-weight: bold;
}

.thumbnails {
	display: flex;
	flex-wrap: wrap;
}

.thumbnails>.active {
	background-color: var(--light);
	box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

.thumbnails .card {
	width: 170px;
}

.no-thumbnail {
	height: 168px;
	position: relative;
}

#help-modal p {
	line-height: 1.8;
}

@media (min-width: 576px) {
	#sketches-modal .modal-dialog {
		min-width: calc(100% - 2rem);
		max-width: calc(100% - 2rem);
	}

	#help-modal .modal-dialog {
		max-width: min(100% - 2rem, 45rem);
	}
}

#toolbar {
	bottom: 0;
	right: 0;
	margin-bottom: 0;
	position: absolute;
}

#toolbar>button:first-of-type {
	border-top-left-radius: 0.25rem;
}

.dropdown-menu-abs-right {
	left: unset !important;
	right: 0 !important;
}

#canvas-overlay {
	position: absolute;
	left: 0;
	top: 0;
}

#overlay {
	background-color: #000000d0;
	color: white;
	height: 100vh;
	left: 0;
	top: 0;
	overflow: auto;
	position: absolute;
	width: 100vw;
	z-index: 4;
}

#overlay:not(.show) {
	pointer-events: none;
}

.overlay-content {
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 33vh;
	transform: translate(-50%, max(-33%, -33vh));
	width: max-content;
}

.overlay-content>* {
	display: block;
}

.overlay-content .btn {
	background-color: transparent;
}

.overlay-label {
	display: none;
	padding-left: 1rem;
	vertical-align: top;
}

.overlay-content .overlay-label {
	display: inline;
}

.center-mark {
	background-image: linear-gradient(0deg, Highlight, Highlight);
	background-size: 2px 70%;
	background-repeat: no-repeat;
	background-position: center center;
}

#btn-floating-action {
	background-color: hsla(210, 50%, 75%, 0.9);
	border-radius: 32px;
	border-width: 0;
	box-shadow: #000000dd 1px 9px 17px 0px;
	position: absolute;
	bottom: max(2vw, 16px);
	right: max(2vw, 16px);
	padding: 4px;
}

.patreon {
	background-color: rgb(232, 91, 70);
	border: 1px solid rgb(232, 91, 70);
	border-radius: 9999px;
	color: white;
	display: block;
	font-family: America, sans-serif;
	font-display: swap;
	font-size: 0.875rem;
	font-weight: 500;
	padding: 5px 1rem;
	user-select: none;
}

.patreon:hover {
	background-color: rgb(231, 81, 59);
	color: white;
	text-decoration: none;
}
