/* Colors
 *************
 */

:root {
	--complement-color: #ffb0c8;
}

.form-control:invalid {
	background-color: #f4bec3;
}

.bg-info.bg-light {
	background-color: #8ee4f1 !important;
}

.bg-complement {
	background-color: var(--complement-color);
}

/* Positioning
 *************
 */

.left {
	left: 0;
}

.right {
	right: 0;
}

.top {
	top: 0;
}

/* Components
 ************
 */

.palette {
	height: 1.5rem;
	margin-bottom: 0.25rem;
}

.palette .active {
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.25);
}

.collapse-horizontal {
	overflow: hidden;
	transition: width 0.4s;
}

.collapsed-horizontal {
	width: 0 !important;
}

/* Individual elements
 *********************
 */
#spirograph-canvas {
	background-clip: content-box;
	background-origin: content-box;
	cursor: none;
	user-select: none;
}

#tool-canvas {
	pointer-events: none;
}

/* Bootstrap overrides
 *********************
 */

.btn-group-round>.btn:not(:last-child):not(.dropdown-toggle) {
	border-radius: 0.25rem;
	margin-right: 0.25rem;
}

.btn-group-round>.btn:not(:first-child) {
	border-radius: 0.25rem;
}

.container-fluid {
	padding-left: 8px;
	padding-right: 8px;
}

.jumbotron {
	margin-left: -8px;
	margin-right: -8px;
	padding: 1rem 1.25rem;
}
