@font-face {
	font-family: "America";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local("America Regular"),
		local("America-Regular"),
		url("GT-America-Standard-Regular.woff2");
}

@font-face {
	font-family: "America";
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: local("America Bold"),
		local("America-Bold"),
		url("GT-America-Standard-Bold.woff2");
}
