/* latin and latin-ext */
@font-face {
	font-family: "Pacifico";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Pacifico Regular"),
		local("Pacifico-Regular"),
		url("Pacifico-Latin.woff2") format("woff2");
}
