body {
	margin: 0;
	overflow: hidden;
}

input[type=color] {
	cursor: pointer;
}

button[disabled], input[type=color][disabled] {
	cursor: auto;
}

.progress-bar {
	overflow: visible;
}

.bg-center {
	background-repeat: no-repeat;
	background-position: center center;
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
}

.drop-align-right {
	left: unset !important;
	right: 0 !important;
	transform: translate(0%, calc(-100% - 5px)) !important;
}

.floating {
	opacity: 0.85;
	position: absolute;
}

.opaque {
	opacity: 1;
}

.top-2 {
	top: 0.5em;
}

.w-60 {
	width: 60% !important;
}

.emphasize-active .active {
	font-weight: bold;
}

#background-gen-modal {
	top: 1.75rem;
}

#background-gen-modal-header {
	user-select: none;
}

#background-gen-modal .modal-dialog {
	margin-top: 0;
}

#help-modal p {
	line-height: 1.8;
}
