button[disabled], input[type=color][disabled] {
	cursor: auto;
}

button[disabled] img {
	filter: grayscale(1);
}

input[type=color] {
	cursor: pointer;
}

legend {
	font-size: 1.25rem;
}

option:disabled {
	color: #bbb;
}

.custom-file-label {
	overflow: hidden;
}

.dropdown-menu {
	margin-top: 0;
}

.dropdown-menu.bg-light .dropdown-item:focus, .dropdown-menu.bg-light .dropdown-item:hover {
	background-color: #e9ecef;
}

.modal-header {
	padding: 0.5rem 3px 0.5rem 0.7rem;
}

.modal-content {
	max-height: calc(100vh - 1.75rem - 46px);
}

.modal-body {
	overflow-y: auto;
	padding: 0.5rem;
}

@media (min-width: 1200px) {
	.modal-body {
		padding: 1rem;
	}
}

@media (min-width: 576px) {
	.modal-wide {
		width: fit-content;
		max-width: calc(100% - 2rem);
	}

	.modal-wide .modal-content {
		width: fit-content;
	}
}

.popover {
	border-radius: 0.75rem;
	box-shadow: 2px 2px 15px 6px rgba(0,0,0,0.65);
	max-height: 100vh;
}

.popover-body {
	max-height: 100vh;
	overflow-y: auto;
}

.progress-bar {
	overflow: visible;
}

.bg-center {
	background-repeat: no-repeat;
	background-position: center center;
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
}

.bg-black {
	background-color: #282828;
	color: white;
}

.bg-black .form-control {
	background-color: transparent;
	color: white;
}

.btn-black {
	background-color: #000000d0;
	border-radius: 0;
	color: white;
}

.btn-black:hover {
	background-color: white;
	color: black;
}

.btn-group>.btn-black.dropdown-toggle-split {
	margin-left: 0;
}

.btn-black.dropdown-toggle {
	color: white;
}

.btn-black.dropdown-toggle-split[aria-expanded=true] {
	background-color: #ffff80;
	color: black;
}

.btn-black.dropdown-toggle[aria-expanded=false]:hover {
	color: black;
}

.nav-tabs {
	background-color: var(--light);
	border-bottom: 0;
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
	padding-top: 0.25rem;
}

.nav-tabs .nav-link {
    border-color: #ddd;
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
	color: var(--dark);
	margin: 1px;
}

.nav-tabs .nav-link:hover {
	background-color: #fdfdfd;
	border-color: #ddd;
	color: black;
}

.nav-tabs .nav-link:focus {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	outline: none;
}

.nav-tabs .nav-link.active {
	color: black;
	font-weight: 600;
}

.top-2 {
	top: 0.5em;
}

.w-60 {
	width: 60% !important;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.max-w-fit {
	max-width: fit-content;
}

.w-fit {
	min-width: fit-content;
	max-width: fit-content;
}

.context-help * {
	cursor: help !important;
}

.palette {
	background-color: #c0c0c0;
	display: flex;
	flex-wrap: wrap;
	padding: 3px 3px 3px 6px;
}

.palette>div {
	background-image: url("../img/checkerboard.png");
	flex-grow: 1;
	width: 15px;
	height: 15px;
	margin: 2px 3px 2px 0;
	padding: 0;
}

.palette .btn {
	border-radius: 0px !important;
	border-width: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.palette .active {
	outline: solid 2px white;
}

.sketch-title {
	font-style: italic;
	font-weight: bold;
}

.thumbnails>.active {
	background-color: var(--light);
	box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

.thumbnails .card {
	width: 168px;
}

.no-thumbnail {
	height: 168px;
	position: relative;
}

#help-modal p {
	line-height: 1.8;
}

#help-modal .modal-content {
	height: calc(100vh - 1.75rem - 46px);
}

@media (min-width: 576px) {
	#help-modal .modal-wide {
		width: min(100% - 2rem, 45rem);
	}

	#help-modal .modal-content {
		width: 100%;
	}
}

#background-gen-modal {
	height: fit-content;
}

#background-gen-modal-header {
	touch-action: none;
	user-select: none;
}

#background-gen-modal .modal-content {
	max-height: 50vh;
}

#background-gen-modal-content {
	overflow-y: auto;
}

#background-gen-modal-content .modal-body {
	overflow-y: unset;
}

@media (min-width: 576px) {

	#background-gen-modal {
		width: min(50vw, 500px);
	}

	#background-gen-modal .modal-dialog {
		max-width: min(50vw, 500px);
	}

	#background-gen-modal .modal-content {
		max-height: calc(100vh - 46px);
	}

}

#toolbar {
	bottom: 0;
	right: 0;
	margin-bottom: 0;
	position: absolute;
}

#toolbar .btn-group {
	position: static;
}

.drop-align-right {
	transform: translate(0%, -100%) !important;
}

@media (min-width: 1200px) {

	#toolbar .btn-group {
		position: relative;
	}

	.drop-align-right {
		left: unset !important;
		right: 0 !important;
	}

}
