body {
	margin: 0;
	overflow: hidden;
}

input[type=color] {
	cursor: pointer;
}

button[disabled], input[type=color][disabled] {
	cursor: auto;
}

.bg-center {
	background-repeat: no-repeat;
	background-position: center center;
}

.floating {
	opacity: 0.85;
	position: absolute;
}

.opaque {
	opacity: 1;
}
.emphasize-active .active {
	font-weight: bold;
}

#background-gen-modal {
	top: 1.75rem;
}

#background-gen-modal-header {
	user-select: none;
}

#background-gen-modal .modal-dialog {
	margin-top: 0;
}
