button[disabled], input[type=color][disabled], span.btn:hover:not(:disabled) {
	cursor: auto;
}

button[disabled] img {
	filter: grayscale(1);
}

input[type=color] {
	cursor: pointer;
}

legend {
	font-size: 1.25rem;
}

option:disabled {
	color: #bbb;
}

.custom-file-label {
	overflow: hidden;
}

.dropdown-menu {
	margin-top: 0;
}

.dropdown-menu.bg-light .dropdown-item:focus, .dropdown-menu.bg-light .dropdown-item:hover {
	background-color: #e9ecef;
}

.form-control {
	border-style: inset;
	border-width: 2px;
}

.form-check-input {
	margin-top: 0.4rem;
}

.input-group-sm>.form-control:not(textarea) {
  height: calc(1.5em + .5rem + 4px);
}

.input-group-text {
	border-width: 2px;
}

.modal-backdrop.show {
	opacity: 0.45;
}

.modal {
	border-radius: 0.5rem;
	box-shadow: #000000cc 0px 6px 20px 0px;
}

.modal-content {
	background-color: hsla(210, 50%, 85%, 0.8);
	backdrop-filter: blur(4px);
	border-color: #e8e8e8cc;
	border-radius: 0.5rem;
	color: black;
	max-height: calc(100vh - 1.75rem - 46px);
}

.modal-header {
	border-bottom-width: 0;
	padding: 0.35rem 3px 0.35rem 0.7rem;
}

.close:hover {
	color: white;
}

.modal-header .close {
	background-color: var(--danger);
	border-radius: 0 0 0.3rem 0.3rem;
	color: white;
	opacity: 0.45;
	padding: 0 0.7rem;
	margin: -0.35rem 0.5rem 0 auto;
}

.close>* {
	vertical-align: text-top;
}

.modal-body {
	background-color: hsl(210, 100%, 99%);
	border: 1px inset;
	border-radius: 0.25rem;
	overflow-y: auto;
	margin: 0rem;
	padding: 0.5rem;
}

@media (min-width: 1200px) {
	.modal-body {
		margin: 0.05rem 0.7rem 0.7rem;
	}
}

@media (min-width: 576px) {
	.modal-wide {
		width: fit-content;
		max-width: calc(100% - 2rem);
	}

	.modal-wide .modal-content {
		width: fit-content;
	}
}

.modal-footer .btn {
	box-shadow: 2px 2px 5px 0px #00000099;
}

.popover {
	border-radius: 0.75rem;
	box-shadow: 2px 2px 15px 6px rgba(0,0,0,0.65);
	max-height: 100vh;
}

.popover-body {
	max-height: 100vh;
	overflow-y: auto;
}

.progress-bar {
	overflow: visible;
}

.bg-center {
	background-repeat: no-repeat;
	background-position: center center;
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
}

.bg-black {
	background-color: #282828;
	color: white;
}

.bg-black .form-control {
	background-color: transparent;
	color: white;
}

.btn-black {
	background-color: #000000d0;
	border-radius: 0;
	color: white;
}

button.btn-black:hover {
	background-color: white;
	color: black;
}

.btn-group>.btn-black.dropdown-toggle-split {
	margin-left: 0;
}

.btn-black.dropdown-toggle {
	color: white;
}

.btn-black.dropdown-toggle-split[aria-expanded=true] {
	background-color: #ffff80;
	color: black;
}

.btn-black.dropdown-toggle[aria-expanded=false]:hover {
	color: black;
}

.nav-tabs {
	background-color: hsl(270, 17%, 97%);
	border-bottom-width: 0;
	padding-top: 0.25rem;
}

.nav-tabs .nav-item {
	margin-left: 1px;
}

.nav-tabs .nav-link {
	background-color: hsl(270, 17%, 97%);
    border-color: #ddd;
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.4);
	color: var(--dark);
	margin: 1px;
	padding: 0.45rem 1rem;
}

.nav-tabs .nav-link:hover {
	background-color: #fdfdfd;
	border-color: #ddd;
	color: black;
}

.nav-tabs .nav-link.active:hover {
	background-color: #fff;
	border-bottom-color: transparent;
}

.nav-tabs .nav-link:focus {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	outline: none;
}

.nav-tabs .nav-link.active {
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.5);
	color: black;
	font-weight: 600;
}

.nav-link.active {
	cursor: default;
}

.top-2 {
	top: 0.5em;
}

.w-60 {
	width: 60% !important;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.max-w-fit {
	max-width: fit-content;
}

.w-fit {
	min-width: fit-content;
	max-width: fit-content;
}

.context-help * {
	cursor: help !important;
}

.palette {
	background-color: #c0c0c0;
	display: flex;
	flex-wrap: wrap;
	padding: 3px 3px 3px 6px;
}

.palette>div {
	background-image: url("../img/checkerboard.png");
	flex-grow: 1;
	width: 15px;
	height: 15px;
	margin: 2px 3px 2px 0;
	padding: 0;
}

.palette .btn {
	border-radius: 0px !important;
	border-width: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.palette .active {
	outline: solid 2px white;
}

.sketch-title {
	font-style: italic;
	font-weight: bold;
}

.thumbnails>.active {
	background-color: var(--light);
	box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

.thumbnails .card {
	width: 168px;
}

.no-thumbnail {
	height: 168px;
	position: relative;
}

#help-modal p {
	line-height: 1.8;
}

#help-modal .modal-content {
	height: calc(100vh - 1.75rem - 46px);
}

@media (min-width: 576px) {
	#help-modal .modal-wide {
		width: min(100% - 2rem, 45rem);
	}

	#help-modal .modal-content {
		width: 100%;
	}
}

#background-gen-modal {
	height: fit-content;
}

#background-gen-modal-header {
	touch-action: none;
	user-select: none;
}

#background-gen-modal .modal-content {
	max-height: 50vh;
}

#background-gen-modal-content {
	overflow-y: auto;
}

#background-gen-modal-content .modal-body {
	overflow-y: unset;
}

#background-gen-modal-content.collapsing {
	overflow-y: hidden;
}

@media (min-width: 576px) {

	#background-gen-modal {
		width: min(50vw, 506px);
	}

	#background-gen-modal .modal-dialog {
		max-width: 100%;
	}

	#background-gen-modal .modal-content {
		max-height: calc(100vh - 46px);
	}

}

#background-gen-options>.nav-tabs {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	padding-left: 1px;
}

#toolbar {
	bottom: 0;
	right: 0;
	margin-bottom: 0;
	position: absolute;
}

#toolbar .btn-group {
	position: static;
}

.drop-align-right {
	transform: translate(0%, -100%) !important;
}

@media (min-width: 1200px) {

	#toolbar .btn-group {
		position: relative;
	}

	.drop-align-right {
		left: unset !important;
		right: 0 !important;
	}

}

.patreon {
	background-color: rgb(232, 91, 70);
	border: 1px solid rgb(232, 91, 70);
	border-radius: 9999px;
	color: white;
	display: block;
	font-family: America, sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	padding: 5px 1rem;
	user-select: none;
}

.patreon:hover {
	background-color: rgb(231, 81, 59);
	color: white;
	text-decoration: none;
}
