body {
	margin: 0;
	overflow: hidden;
}

button[disabled], input[type=color][disabled] {
	cursor: auto;
}

button[disabled] img {
	filter: grayscale(1);
}

input[type=color] {
	cursor: pointer;
}

legend {
	font-size: 1.25rem;
}

option:disabled {
	color: #bbb;
}

.dropdown-menu.bg-light .dropdown-item:focus, .dropdown-menu.bg-light .dropdown-item:hover {
	background-color: #e9ecef;
}

.modal-header {
	padding: 0.7rem;
}

.progress-bar {
	overflow: visible;
}

.bg-center {
	background-repeat: no-repeat;
	background-position: center center;
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
}

.drop-align-right {
	left: unset !important;
	right: 0 !important;
	transform: translate(0%, calc(-100% - 5px)) !important;
}

.floating {
	opacity: 0.85;
	position: absolute;
}

.modal-content {
	max-height: calc(100vh - 1rem - 2px);
}

.modal-body {
	overflow-y: auto;
}

.modal-wide {
	width: fit-content;
	max-width: 90%;
}

.modal-wide .modal-content {
	width: fit-content;
}

.opaque {
	opacity: 1;
}

.top-2 {
	top: 0.5em;
}

.w-60 {
	width: 60% !important;
}

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.max-w-fit {
	max-width: fit-content;
}

.w-fit {
	min-width: fit-content;
	max-width: fit-content;
}

.palette {
	background-color: #c0c0c0;
	display: flex;
	flex-wrap: wrap;
	padding: 3px 3px 3px 6px;
}

.palette>div {
	background-image: url("../img/checkerboard.png");
	flex-grow: 1;
	width: 15px;
	height: 15px;
	margin: 2px 3px 2px 0;
	padding: 0;
}

.palette .btn {
	border-radius: 0px !important;
	border-width: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.palette .active {
	outline: solid 2px white;
}

.thumbnails>.active {
	background-color: var(--light);
	box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

.thumbnails .card {
	width: 168px;
}

.no-thumbnail {
	height: 168px;
	position: relative;
}

#background-gen-modal-header {
	touch-action: none;
	user-select: none;
}

#background-gen-modal-content {
	overflow-y: auto;
}

#help-modal p {
	line-height: 1.8;
}
